-if current_user.already_liked?(post)
  = link_to post_like_path(post, id: post.likes[0].id), method: :delete, remote: true do
    %i.fas.fa-heart.unlike-btn
    = post.likes.count
-else
  = link_to post_likes_path(post), method: :post, remote: true do
    %i.fas.fa-heart.like-btn
    = post.likes.count