.title ユーザ一覧
.users-info
  - @users.each do |user|
    .userbox
      -if user.image.url.present?
        .user-image
          = image_tag user.image.url, size: "100x100"
      .user-name
        = user.name