.wrapper
  .header
    .header__left
      .logo 庭あい
    .header__right
      %ul.header-right
        %li.post
          投稿する
        %li.user_name
          ユーザー名
  .mainApp
    = image_tag "pict/IMG_4331.jpeg", size: "1000x500"
    .mainApp__box
      .App-name
        庭あい
      .introduce
        %p 庭の数だけ歴史がある
        %p あなたのお気に入りの庭園を共有しませんか？
