.wrapper
  .header
    .header__left
      .logo 庭あい
    .header__right
      %ul.header-right
        %li.post
          投稿する
        %li.user_name
          ユーザー名
  .mainApp
    .mainApp__name
      庭あい
    .mainApp__introduce
      %p 庭の数だけがある
      %p あなたのお気に入りの庭園を共有しませんか？
