.wrapper
  .mainimage
  -# アプリ紹介
  .mainAppInfo
    .App-name
      Niwaai
    .introduce
      %p ふと庭園に足を運びたくなる
      %p Niwaaiではそんな癒しの空間を提供します
  .mainInfo
    .mainInfo__left
      %h3.left-title 日本庭園とは・・・
      .content
        %p 日本の伝統文化として平安時代よりも前から存在しており
        %p 現在では海外にも造られているほど世界的に広がりを見せています。
        %p Niwaaiではあなたのお気に入りの庭園の写真を投稿できます！！
        %p あなたのお気に入りの庭園写真を投稿して共有しましょう
    .mainInfo__right
  .mainGoogle
    .mainGoogle__left
    .mainGoogle__right
      %h3.right-title 地図の表示
      .content
        %p 投稿する際に庭園の住所を入力すると
        %p Google Mapであなたの投稿した
        %p 庭園の場所が表示されます
        %p 住所を入力してあなたの好きな庭園を広めましょう！！
        %p 気になった庭園の場所も把握できます！！
  .mainPosts
    .mainPosts__left
      %h3.left-title 一般的な機能の搭載
      .content
        %p 気になった投稿に対していいね
        %p コメントをすることができます
        %p 気になったユーザーをフォローする
        %p こともできます！！
        %p あなたのお気に入り庭園に
        %p 出会いましょう！！
    .mainPosts__right
  .footer
    .copyright Copyright(c) 2020 Niwaai Co.,Ltd