.content-title {
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
  margin-bottom: 50px;
}
.users-info {
  width: 100vw;
  height: auto;
  margin-bottom: 200px;
  font-family: "M PLUS Rounded 1c";
  a {
    text-decoration: none;
    color: #383838;
  }

  .userbox {
    height: auto;
    width: 90%;
    margin: 10px auto ;
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    box-shadow: 5px 5px 5px 0px #bebebe;
    .user-name {
      font-size: 17px;
      margin-bottom: 8px;
      font-weight: bold;
    }
    .user-following {
      font-size: 10px;
    }
    .user-follower {
      font-size: 10px;
    }
  }
}