.main {
  height: auto;
  margin: 0 auto;
  .userInfo {
    text-align: center;
    margin-top: 10px;
    &__image {
    }
    &__name {
    }
    &__email {
    }
  }
  .user-detail {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: magenta;
    &__posts {
    }
    &__likes {
    }
    &__following {
    }
    &__follower {
    }
  }
}