// 通知
.Notification {
  // 成功
  .notice {
    background-color: #38AEF0;
    color: #fff;
    text-align: center;
  }
  // 警告
  .alert {
    background-color: #F35500;
    color: #fff;
    text-align: center;
  }
}