// 編集・削除ボタンの設定
@mixin btn-config {
  width: 4%;
  padding: 2px;
  border: 1px solid #747474;
  border-radius: 100vh;
}
// フォローボタンの設定
@mixin follow-config {
  width: 7%;
  padding: 3px;
  border: 1px solid #747474;
  border-radius: 100vh;
}
// マイページ
.main {
  height: auto;
  margin: 0 auto;
  .userInfo {
    text-align: center;
    margin-top: 10px;
    // ユーザー画像
    &__image {
      margin-bottom: 5px;
    }
    // ユーザーネーム
    &__name {
      font-size: 22px;
      font-weight: bold;
    }
    // ユーザーアドレス
    &__email {
      margin-bottom: 5px;
    }
    &__edit {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      // 編集ボタン
      .editbtn {
        @include btn-config;
        margin-right: 10px;
        background-color: rgb(97, 157, 235);
        a {
          color: #fff;
        }
      }
      // 削除ボタン
      .deletebtn {
        @include btn-config;
        background-color: rgb(255, 52, 52);
        a {
          color: #fff;
        }
      }
    }
    #follow_form {
      margin-bottom: 10px;
    }
  }
  // ユーザー詳細の枠組み
  .user-detail {
    height: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    border: 5px solid #acacac;
    font-size: 18px;
    a {
      color: #383838;
    }
    a:hover {
      color: rgb(0, 132, 255);
    }
  }
}

// フォローしている時
.follow-now {
  @include follow-config;
  font-weight: bold;
  color: rgb(243, 243, 243);
  background-color: rgb(36, 177, 196);
}
// フォローしていない時
.follows {
  @include follow-config;
  color: #383838;
  background-color: white;
}

// スマホでの表示
@media (max-width: 480px) {
  .follow-now {
    width: 40%;
  }
  .follows {
    width: 40%;
  }
  .main {
    .userInfo {
      &__edit {
        .editbtn {
          width: 20%;
        }
        .deletebtn {
          width: 20%;
        }
      }
    }
    .user-detail {
      width: 100%;
    }
  }
}