.main {
  height: auto;
  margin: 0 auto;
  .userInfo {
    text-align: center;
    margin-top: 10px;
    &__image {
    }
    &__name {
    }
    &__email {
    }
    &__edit {
      display: flex;
      justify-content: center;
      .editbtn {
        padding-right: 10px;
      }
    }
  }
  .user-detail {
    height: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    border: 5px solid gray;
    border-radius:
    &__posts {
    }
    &__likes {
    }
    &__following {
    }
    &__follower {
    }
  }
}