.wrapper {
  // アプリ紹介
  .mainimage {
    height: 800px;
    background-image: url(pict/kiyosumi.jpg);
    background-size:cover;
    background-position: center center;
    .Header {
      height: 70px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__left {
        display: flex;
        .logo {
          margin-left: 15px;
          font-size: 30px;
          font-weight: bold;
        }
        .searchform {
          margin: 10px 0 0 10px;
          .search-input {
            width: 80%;
          }
        }
      }
      &__right {
        display: flex;
        justify-content: space-around;
        margin-right: 20px;
        .post {
          padding-right: 20px;
          a {
            color: black;
            text-decoration: none;
          }
        }
        .users {
          padding-right: 20px;
        }
        .username {
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
  .mainAppInfo {
    height: 150px;
    text-align: center;
    margin: 80px auto;
    .App-name {
      font-size: 35px;
      font-weight: bold;
    }
    .introduce {
      margin-top: 10px;
      p {
        font-size: 16px;
      }
    }
  }
  .mainInfo {
    height: 480px;
    background-color: mediumaquamarine;
    display: flex;
    margin: 0 auto 50px auto;
    &__left {
      width: 40%;
      background-color: rgb(160, 223, 165);
      .left-title {
        width: 70%;
        margin: 30px auto 50px auto;
      }
      .content {
        width: 70%;
        margin: 0 auto;
        p {
          font-size: 18px;
        }
      }
    }
    &__right {
      width: 60%;
      background-image: url(pict/kiyosumi.jpg);
      background-size:cover;
      background-position: center center;
    }
  }
  .mainGoogle {
    height: 480px;
    background-color: mediumaquamarine;
    display: flex;
    margin: 0 auto 50px auto;
    &__left {
      width: 60%;
      background-image: url(pict/googlemap.png);
      background-size:cover;
      background-position: center center;
    }
    &__right {
      width: 40%;
      .right-title {
        width: 70%;
        margin: 30px auto 50px auto;
      }
      .content {
        width: 70%;
        margin: 0 auto;
        p {
          font-size: 18px;
        }
      }
    }
  }
  .mainPosts {
    height: 480px;
    background-color: mediumaquamarine;
    display: flex;
    margin: 0 auto 50px auto;
    &__left {
      width: 40%;
      background-color: rgb(160, 223, 165);
      .left-title {
        width: 70%;
        margin: 30px auto 50px auto;
      }
      .content {
        width: 70%;
        margin: 0 auto;
        p {
          font-size: 18px;
        }
      }
    }
    &__right {
      width: 60%;
      background-image: url(pict/hasyokan.jpg);
      background-size:cover;
      background-position: center center;
    }
  }
  .footer {
    height: 70px;
    background-color: olivedrab;
    display: flex;
    align-items: center;
    justify-content: center;
    .copyright {

    }
  }
}