.wrapper {
  // ヘッダー
  .header {
    height: 70px;
    width: 100vw;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
      .logo {
        margin-left: 20px;
      }
    }
    &__right {
      width: 15%;
      .header-right {
        display: flex;
        justify-content: space-around;
        .post {
        }
        .username {
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
  // アプリ紹介
  .mainApp {
    height: 500px;
    width: 100%;
    background-color: khaki;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__box {
      position: absolute;
      top: 50px;
      text-align: center;
      .App-name {
        font-size: 35px;
        font-weight: bold;
      }
      .introduce {
        margin-top: 10px;
        p {
          font-size: 16px;
        }
      }
    }
  }
  // 投稿一覧
  .mainContents {
    height: 800px;
    width: 100%;
    background-color: lavender;
    .Contents-info {
      &__name {
        padding-top: 10px;
        text-align: center;
        font-size: 30px;
      }
    }
    .Contents {
      display: flex;
      height: 100%;
      width: 100%;
      .Contents-box {
        height: 50%;
        width: 25%;
        background-color: lemonchiffon;
        margin: 0 auto;
        margin-top: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        &__header {
          border-bottom: 1px solid gray;
          .title {
            text-align: center;
          }
        }
        &__user {
          height: 15%;
          display: flex;
          align-items: center;
          padding-left: 10px;
          .user-image {
            height: 50px;
            width: 50px;
            background-color: lightgrey;
          }
          .username {
            padding-left: 10px;
          }
        }
        &__imagebox {
          height: 68%;
          background-color: lightcyan;
          position: relative;
          .image {
            position: absolute;
            top: 5px;
            left: 15px;
          }
        }
        &__footer {
          height: 10%;
          display: flex;
          align-items: center;
          background-color: lightcoral;
          padding: 0 20px;
        }
      }
    }
  }
}