.main {
  .Postsbox {
    height: auto;
    background-color: lightgreen;
    &__header {
      height: 50px;
      margin-bottom: 10px;
      background-color: lightsalmon;
      display: flex;
      justify-content: space-between;
      .left-header {
        display: flex;
        align-items: center;
        justify-content: center;
        .userimage {
        }
        .username {
        }
      }
      .right-header {
        display: flex;
        align-items: center;
        .create-title {
        }
        .create-date {

        }
      }
    }
    &__Imagebox {
      height: auto;
      width: 100%;
      position: relative;
      display: flex;
      .image {
        width: 100%;
        max-width: 100%;
      }
      .garden_namebox {
        position: absolute;
        bottom: 0;
        right: 0;
        height: auto;
        background-color: lightsalmon;
        &__garden_name {
        }
      }
    }
    &__mainContent {
      .titlebox {
        height: auto;
        .title {
          text-align: center;
          font-size: 30px;
          font-weight: bold;
        }
      }
      .contentbox {
        width: 80%;
        height: auto;
        margin: 10px auto;
        .content {
        }
      }
      .footer {
        margin: 0 auto;
        width: 80%;
        background-color: lightskyblue;
        &__box {
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: start;;
        }
      }
    }
  }
}