.header {
  height: 70px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #cecece;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__left {
    display: flex;
    .logo {
      margin-left: 20px;
      font-size: 30px;
      font-weight: bold;
      color: #398a36;
    }
    .searchform {
      margin: 23px 0 0 20px;
      .search-input {
        width: 80%;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    .new-post {
      padding-right: 15px;
    }
    .posts {
      padding-right: 15px;
    }
    .users {
      padding-right: 15px;
    }
    .mypage {
      padding-right: 15px;
    }
    a {
      text-decoration-color: #424242;
      color: #398a36;
    }
  }
}