.header {
  height: 70px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(white,rgb(141, 223, 141));
  &__left {
    .logo {
      margin-left: 20px;
    }
  }
  &__right {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    .post {
      padding-right: 20px;
      a {
        color: black;
        text-decoration: none;
      }
    }
    .users {
      padding-right: 20px;
    }
    .username {
      a {
        color: black;
        text-decoration: none;
      }
    }
  }
}