// 投稿一覧
.mainContents {
  height: auto;
  width: 100%;
  .ContentsInfo {
    margin-bottom: 50px;
    &__name {
      padding-top: 10px;
      text-align: center;
      font-size: 30px;
    }
  }
  .Contents {
    display: flex;
    height: auto;
    width: 100%;
    .Contents-box {
      height: auto;
      width: 40%;
      margin: 0 auto;
      margin: 10px 20px 0 0;
      border: 1px solid gray;
      border-radius: 10px;
      &__header {
        height: 50px;
        border-bottom: 1px solid gray;
        margin: 0 auto;
        .title {
          text-align: center;
          font-size: 18px;
        }
      }
      &__user {
        height: auto;
        display: flex;
        align-items: center;
        .user-image {
          height: 50px;
          width: 50px;
        }
        .username {
          padding-left: 10px;
        }
      }
      &__titlebox {
        height: 50px;
        border-top: 1px solid grey;
        .title {
          font-size: 20px;
        }
      }
      &__imagebox {
        height: 250px;
        width: 100%;
        position: relative;
        .image {
          position: absolute;
          top: 5px;
          left: 15px;
        }
      }
      &__footer {
        height: 50px;
        display: flex;
        align-items: center;
      }
    }
  }
}