// 投稿一覧
.mainContents {
  height: auto;
  width: 100%;
  .ContentsInfo {
    margin-bottom: 50px;
    &__name {
      padding-top: 30px;
      text-align: center;
      font-size: 30px;
      margin-bottom: 50px;
    }
  }
  .Contents {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .Contents-box {
      height: auto;
      width: 350px;
      margin: 0 auto 50px auto;
      border: 10px solid rgb(158, 158, 158);
      border-radius: 10px;
      &__header {
        height: 50px;
        border-bottom: 1px solid gray;
        margin-top: 10px;
        .garden-name {
          text-align: center;
          font-size: 23px;
          color: #398a36;
        }
      }
      &__user {
        height: auto;
        display: flex;
        align-items: center;
        .user-image {
          height: 50px;
          width: 50px;
        }
        .username {
          a {
            color: #383838;
          }
          a:hover {
            color: rgb(0, 132, 255);
          }
        }
      }
      &__titlebox {
        height: 50px;
        border-top: 1px solid grey;
        padding-top: 10px;
        .title {
          font-size: 25px;
          font-weight: bold;
          text-align: center;
          a {
            color: #383838;
          }
        }
      }
      &__imagebox {
        height: 250px;
        width: 100%;
        position: relative;
        .image {
          height: auto;
          position: absolute;
          top: 0px;
          left: 15px;
        }
      }
      &__footer {
        height: 50px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .like {
          padding-right: 5px;
          a {
            color: #383838;
          }
          .likebox {
            .like-btn {
              height: 10px;
              font-size: 20px;
              color: #808080;
            }
          }
        }
      }
    }
  }
}

// ページネーション
.pagination {
  justify-content: center;
  margin-top: 30px;
}


.unlike-btn {
  height: 10px;
  font-size: 20px;
  color: #e54747;
}