.Postsbox {
  height: auto;
  width: 90%;
  margin: 40px auto 0 auto;
  .Postform {
    width: 100%;
    height: auto;
    .Post-heading {
      margin: 0 auto 30px auto;
      padding-left: 15px;
    }
    .form-group {
      margin-bottom: 2rem;
    }
    #post_content {
      height: 150px;
    }
    .form-check {
      margin-bottom: 40px;
      label {
        padding-right: 20px;
      }
    }
    .submit {
      margin-left: 15px;
    }
  }
}