.main {
  .Postsbox {
    width: 90%;
    margin: 20px auto;
    height: auto;
    border: 10px solid rgb(150, 150, 150);
    border-radius: 10px;
    &__header {
      height: 60px;
      border-bottom: 1px solid gray;
      display: flex;
      justify-content: space-between;
      .left-header {
        display: flex;
        align-items: center;
        justify-content: center;
        .userimage {
        }
        .username {
          font-size: 16px;
          a {
            color: #383838;
            &:hover {
              color: rgb(0, 132, 255);
            }
          }
        }
      }
      .right-header {
        display: flex;
        align-items: center;
        font-size: 18px;
        .create-title {
        }
        .create-date {

        }
      }
    }
    &__Imagebox {
      height: auto;
      position: relative;
      display: flex;
      .image {
        width: 100%;
        max-width: 100%;
      }
      .garden_namebox {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 70px;
        width: auto;
        background-color: rgba(255,255,255,.5);
        &__garden_name {
          font-size: 30px;
          color: #383838;
          float: right;
          margin: 15px auto;
        }
      }
    }
    &__about {
      height: auto;
      display: flex;
      justify-content: space-between;
      width: 100%;
      .like-comment {
        display: flex;
        width: 100%;
        height: 50px;
        margin: 0 auto;
        align-items: center;
        .like {
          height: auto;
          display: flex;
          padding-right: 5px;
          .unlike-btn {
            height: auto;
            font-size: 25px;
            color: #e54747;
          }
          .likes-btn {
            margin-top: 7px;
            height: auto;
            font-size: 25px;
            color: #e54747;
          }
          .likecount {
            margin-top: 2px;
            font-size: 24px;
          }
          .likebox {
            a {
              font-size: 25px;
              color: #212529;
            }
            .like-btn {
              height: auto;
              font-size: 25px;
              color: #808080;
            }
            .unlike-btn {
              height: auto;
              font-size: 25px;
              color: #e54747;
            }
          }
        }
        .comment {
          padding-top: 1px;
          font-size: 24px;
        }
      }
    }
    &__mainContent {
      margin-bottom: 50px;
      .titlebox {
        height: auto;
        margin-top: 10px;
        .title {
          color: #383838;
          text-align: center;
          font-size: 40px;
          font-weight: bold;
        }
      }
      .contentbox {
        width: 90%;
        height: auto;
        margin: 10px auto;
        .content {
        }
      }
    }
    .Comments {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: rgb(75, 75, 75);
      margin-bottom: 30px;
    }
    // コメント一覧
    &__Commentsbox {
      height: auto;
      .Commentbox {
        height: auto;
        width: 90%;
        padding: 8px;
        margin: 0 auto 15px auto;
        border: 1px solid #cecece;
        .comment-header {
          height: 50px;
          display: flex;
          justify-content: space-between;
          .left {
            display: flex;
            align-items: center;
            .userimage {
            }
            .right {
              .username {
                a {
                  color: #383838;
                }
                a:hover {
                  color: rgb(0, 132, 255);
                }
              }
              .created_at {
              }
            }
          }
        }
        .Contents {
          margin-top: 20px;
          height: auto;
          display: flex;
          justify-content: space-between;
          &__Comment {
          }
          &__destroy {
            .trash {
              color: #383838;
              &:hover {
                color: #415cf0
              }
            }
          }
        }
      }
    }
    .Comments-form {
      height: 100px;
      width: 90%;
      margin: 50px auto 80px auto;
      .textbox {
        width: 100%;
        height: 100px;
        border-radius: 10px;
      }
      .form__submit {
        width: 100px;
        float: right;
      }
    }
    .text {
      color: rgb(94, 94, 94);
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      margin: 50px 0 60px 0;
    }
    #map {
      height: 700px;
      width: 90%;
      margin: 0 auto 20px auto;
    }
  }
}


.edit {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  .editbtn {
    margin-bottom: 18px;
    padding-right: 1px;
    a {
      padding: 10px;
      border: 1px solid #747474;
      background-color: rgb(97, 157, 235);
      color: #fff;
    }
  }
  .deletebtn {
    a {
      padding: 10px;
      border: 1px solid #747474;
      background-color: rgb(255, 52, 52);
      color: #fff;
    }
  }
}