.header
  .header__left
    = link_to "庭会", root_path, class: "logo"
  .header__right
    - if user_signed_in? && current_user.email != "guest@example.com"
      .post
        = link_to "新規投稿", new_post_path
    - if user_signed_in?
      .users
        = link_to "ユーザー一覧", users_path
      .username
        = link_to current_user.name, user_path(current_user)