.header
  .header__left
    .logo 庭あい
  .header__center
    .logo 庭あい
  .header__right
    -if user_signed_in?
      .post
        = link_to "投稿する", new_post_path
      .username
        = link_to current_user.name, user_path(current_user)